table {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 10px;
}

td {
  text-align: left;
  word-wrap: break-word;
  max-width: 185px;
}

a:link,
a:visited {
  color: rgb(235, 235, 235);
}

p {
  margin-bottom: 0%;
  margin-top: 0%;
}

input {
  font-size: 100%;
  margin-bottom: 5px;
}

html {
  text-align: center;
  font-family: system-ui;
  background-color: rgb(20, 20, 20);
  color: rgb(235, 235, 235);
}

button {
  cursor: pointer;
}

.thumbnail {
  border-radius: 8px;
  width: 112px;
  height: 63px;
}

h6 {
  display: inline;
}

h5 {
  display: inline;
  color: rgb(235, 215, 255);
}

.section {
  text-align: left;
  margin-left: 30px;
}

.subsection {
  text-align: center;
}

.download-wheel {
  padding-top: 50px;
  height: 25px;
}

.password {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}